<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819368180972-j6on3s7gt6g3ptg8e59gn1ebkgfip5j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819368180972-j6on3s7gt6g3ptg8e59gn1ebkgfip5j9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>819368180972-71o4afk8eartq12pp7jeacbon2ppde2b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2czQBCZ72qvD8ITLwQh9HnYbNC8lkorQ</string>
	<key>GCM_SENDER_ID</key>
	<string>819368180972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etracker.expanseTracker</string>
	<key>PROJECT_ID</key>
	<string>expansetracker-f540e</string>
	<key>STORAGE_BUCKET</key>
	<string>expansetracker-f540e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819368180972:ios:a51fecae3e6ea31c39b9c9</string>
</dict>
</plist>